<h1>Coaches answer</h1>

<div class="text-field">
  <p> <strong> <%= @question %> </strong> </p>
  <p> <em>- you</em> </p>
</div>
<div class="text-field">
  <p> <strong> <%= @answer %> </strong> </p>
  <p> <em>- your coach</em> </p>
</div>

<p> <%= link_to "Ask another question", ask_path %> </p>
